<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

  <extensions>
    <add assembly="NLog.DiagnosticSource" />
  </extensions>

  <variable name="DirectoryLogs" value="${configsetting:item=Logging.RootDir}" />
  <variable name="DefaultLayout"
      value="${longdate} ${level:uppercase=true} ${ndlc}${newline}${activity:property=TraceId} ${logger:shortName=true} ${message}${when:when='${exception}' != '':inner=${newline}  ${exception:format=tostring}}"
  />

  <targets>

    <target name="file" xsi:type="File"
        layout="${DefaultLayout}"
        fileName="${DirectoryLogs}/${shortdate}.txt"
        maxArchiveDays="5"
        maxArchiveFiles="4"
        archiveNumbering="Sequence"
        archiveAboveSize="52428800"
        keepFileOpen="false"
        encoding="utf-8" />

  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>